<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header >
        PC Vision
        <button>
            <a href="/bestBuy">Guest</a>
        </button>
        <button>
            <a href="/login">Login</a>
        </button>
    </header>
    <main class="test">
        {{{body}}}
    </main>

</body>
</html>