<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header >
        PC Vision
        <button class="loginButton">
            <a href="/">Home</a>
        </button>
        <button class="loginButton">
            <a href="/bestBuy">Guest</a>
        </button>
        <button class="loginButton">
            <a href="/login">Login</a>
        </button>
        <button class="loginButton">
            <a href="/createAccount">Create An Account</a>
        </button>
    </header>
    <main class="test">
        {{{body}}}
    </main>
    <footer>
        PC Vision &copy;2022
    </footer>

</body>
</html>