<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header >
       
        title
       
    </header>
    <main class="test">
        {{{body}}}
    </main>

</body>
</html>