<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <form method="POST" action="/user/logout">PC Vision <button class="loginButton">Log Out</button></form>
    </header>
    <main class="test">
        {{{body}}}
    </main>
    <footer id=""footer">
        PC Vision &copy;2022
    </footer>

</body>
</html>