<div class="accCreatedBox">
    <h1>Thank You for Creating an Account</h1>
    <h2>Get started by logging in!</h2>
    <br>
    <input class="loginButton" type="button" name="" value="Login" onclick="window.location.href = '/login';" >
    
</div>