<div class="page-heading">
    <h1>Processors</h1>
</div>

<div class="item-grid">
    {{#each data}}
    <div class="small-container">
        <a href="/user/cpuItem">
        <img src="{{this.cpuImage}}" width="100%">
        </a>
        <h4>{{this.cpuName}}</h4>
        <p>{{this.cpuPrice}}</p>
    </div>
    {{/each}}
</div>