+<div class="page-heading">
    <h1> Processors</h1>
</div>

<div class="itemFlexBox">
    <div>
        <img src="/images/cpu.png" width="20%">
    </div>
    <div>
        <h2>Insert CPU Name</h2>
        <h3>Enter CPU Description</h3>
        <h3>Additional Information</h3>
        <h3>Link to website</h3>
    </div>
</div>