<head>
    <link rel="stylesheet" href="/css/createAccount.css">
</head>

<div class="desktop screen">
    <div class="flex-row">
        <div class="flex-col">
            <div class="place inter-normal-white-36px">Name</div>
            <div class="dob inter-normal-white-36px">D.O.B.</div>
            <div class="email inter-normal-white-36px">Email</div>
            <div class="mobile inter-normal-white-36px">Mobile</div>
        </div>
        <div class="flex-col-1">
            <div class="rectangle"></div>
            <div class="rectangle-1"></div>
            <div class="rectangle-2"></div>
            <div class="rectangle-1"></div>
        </div>
        <div class="flex-col-2">
            <div class="card-number inter-normal-white-36px">Card Number</div>
            <div class="password inter-normal-white-36px">Password</div>
            <div class="re-password inter-normal-white-36px">Re-Password</div>
        </div>
        <div class="flex-col-3">
            <div class="rectangle"></div>
            <div class="rectangle-1"></div>
            <div class="rectangle-2"></div>
        </div>
    </div>
    <div class="overlap-group">
        <div class="rectangle-9"></div>
        <h1 class="title valign-text-middle">Create Account</h1>
    </div>
</div>