<!-- testing create account through login page-->
<div class="createAccBox">
    <h1>Create Account</h1>
    <form action="/accountCreated">
        <p>Email</p>
        <input type="email" name="" placeholder="Enter your email">
        <p>Password</p>
        <input type="password" name="" placeholder="Enter your password">
        <p>Confirm Password</p>
        <input type="password" name="" placeholder="Confirm your password">
        <br>
        <br>
        <input class="loginButton" type="submit" name="" value="Create Account" onclick="window.location.href = '/accountCreated';">
    </form>
</div>