
<div class="homeWelcome">
    
    <h1>Welcome to PC Vision</h1> 
    <h2>One stop shop for all your hardware needs</h2>
    <div class="flex-container">
        <div>
            <img src="/images/desktop.png" width="100%">
        </div>
        <div>
            <h3>For a more personalized experience</h3>
            <input class="button" type="button" name="" value="Create an account" onclick="window.location.href = '/createAccount';" >
            <h3>continue as a guest</h3>
            <input class="button" type="button" name="" value="Continue as guest" onclick="window.location.href = '/bestBuy';" >
        </div>
    </div>

</div>