
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="homeWelcome">
    
    <h1>Welcome to PC Vision</h1> 
    <h2>One stop shop for all your hardware needs</h2>
    
    <div>
        <lottie-player id="desktop-lottie" src="https://assets6.lottiefiles.com/packages/lf20_efbizstn.json"  background="transparent"  speed="1"    loop  autoplay></lottie-player>
    </div>
    <div class="flex-container">
        <input class="button" type="button" name="" value="Create an account" onclick="window.location.href = '/createAccount';" >
         <input class="button" type="button" name="" value="Continue as guest" onclick="window.location.href = '/bestBuy';" >
        </div>
    </div>
    
</div>