
<div class="homeWelcome">
    <h1>Welcome to PC Vision</h1>
    <h2>Finding hardware, made easier</h2>
    <br>
    <p>For a more personalized experience</p>
    <input class="loginButton" type="button" name="" value="Create an account" onclick="window.location.href = '/createAccount';" >
    <br>
    <p>Or, continue as a guest</p>
    <input class="loginButton" type="button" name="" value="Continue as guest" onclick="window.location.href = '/bestBuy';" >

</div>