<!-- testing create account through login page-->
<div class="loginBox">
    <h1>Login</h1>

    {{#each flash}}
    <p class="alert">{{this}}</p>
    {{/each}}

    <form action="login" method="POST">
        <p>Email:</p>
        <input type="text" name="username" placeholder="Enter your email">
        <p>Password:</p>
        <input type="password" name="password" placeholder="Enter your password">
        <br>
        <br>
        <input text-align="center" class="loginButton" type="submit" name="" value="Login">
    </form>

    <p>Not a member yet?</p>
        <input class="loginButton" type="button" name="" value="Create an account" onclick="window.location.href = '/createAccount';" >
</div>