<!-- testing create account through login page-->
<div class="loginBox">
    <h1>Login</h1>
    <form>
        <p>Email:</p>
        <input type="email" name="" placeholder="Enter your email">
        <p>Password:</p>
        <input type="password" name="" placeholder="Enter your password">
        <br>
        <br>
        <input text-align="center" class="loginButton" type="submit" name="" value="Login" onclick="window.location.href = '/';">
        <p>Not a member yet?</p>
        <input class="loginButton" type="button" name="" value="Create an account" onclick="window.location.href = '/createAccount';" >
    </form>
</div>