<form action="clinician_login" method="POST">
    <label for="username">Email</label>
    <input type="text" name="username" placeholder="Enter your email address" />
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter your password" id="id_password"/>
    <button>Log In</button>
</form>