<div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player id="login-lottie" src="https://assets9.lottiefiles.com/packages/lf20_umqaz2yv.json"  background="transparent"  speed="1"  loop  autoplay></lottie-player>

    <div class="loginBox">
        <h1>Login</h1>

        {{#each flash}}
        <p class="alert">{{this}}</p>
        {{/each}}
    
        <form action="login" method="post">
            <p>Email:</p>
            <input type="email" name="username" placeholder="Enter your email" autocomplete="on"><br><br>
            <p>Password:</p>
            <input type="password" name="password" placeholder="Enter your password"><br><br>
            <input text-align="center" class="loginButton" type="submit" value="Login">
        </form><br>
        <p>Not a member yet?</p><br>
        <input class="loginButton" type="button" value="Create an account" onclick="window.location.href = '/createAccount';" >
    </div>
</div>