<div class="page-heading">
    <h1> Motherboards</h1>
</div>

<div class="item-grid">
    <div class="small-container">
        <img src="/images/motherboard.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/motherboard.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/motherboard.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/motherboard.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/motherboard.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/motherboard.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/motherboard.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/motherboard.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/motherboard.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/motherboard.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/motherboard.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/motherboard.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>

</div>