+<div class="page-heading">
    <h1> Motherboard</h1>
</div>

<div class="flex-container">
    <div>
        <img src="/images/motherboard.png" width="50%">
    </div>
    <div>
        <h2>Insert MotherBoard Name</h2>
        <h3>Enter Motherboard Description</h3>
        <h3>Additional Information</h3>
        <h3>Link to website</h3>
    </div>
</div>