<h1>Motherboard content goes here</h1>
<div class="item-grid">
    <div>item1</div>
    <div>item2</div>
    <div>item3</div>
    <div>item4</div>
    <div>item5</div>
    <div>item6</div>
    <div>item7</div>
    <div>item8</div>
</div>