<div class="page-heading">
    <h1>Power Supplies</h1>
</div>

<div class="item-grid">
    {{#each data}}
    <div class="small-container">
        <a href="/user/powerSupplyItem">
        <img src="/images/powersupply.png" width="100%">
        </a>
        <h4>{{this.title}}</h4>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
</div>