<div class="page-heading">
    <h1> Power Supplies</h1>
</div>

<div class="item-grid">
    <div class="small-container">
        <a href="/user/powerSupplyItem">
        <img src="/images/powersupply.png" width="100%">
        </a>
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/powersupply.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/powersupply.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/powersupply.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/powersupply.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/powersupply.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/powersupply.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/powersupply.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/powersupply.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/powersupply.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/powersupply.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>
    <div class="small-container">
        <img src="/images/powersupply.png" width="100%">
        <h4>Product Name</h4>
        <p>$25.00</p>
    </div>

</div>