<div class="page-heading">
    <h1>Power Supplies</h1>
</div>

<div class="item-grid">
    {{#each data}}
    <div class="small-container">
        <a href="/user/powerSupply/{{this._id}}">
        <img src="{{this.image}}" width="100%">
        </a>
        <h4>{{this.title}}</h4>
        <p>
            <span>{{this.price}}</span>
            <span>
                <i>&#9825;</i>
            </span>
        </p>
    </div>
    {{/each}}
</div>