+<div class="page-heading">
    <h1> Memory</h1>
</div>

<div class="itemFlexBox">
    <div>
        <img src="/images/ram.png" width="100%">
    </div>
    <div>
        <h2>Insert Memory Card</h2>
        <h3>Enter Ram Description</h3>
        <h3>Additional Information</h3>
        <h3>Link to website</h3>
    </div>
</div>