<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="homeWelcome">
    <h1>Welcome {{name}}!</h1>
    <lottie-player id="desktop-lottie" src="https://assets1.lottiefiles.com/packages/lf20_puciaact.json"  background="transparent"  speed="1"  loop  autoplay></lottie-player>
</div>
<div class="flex-container"> 
    <div>
        <form action="/user/wishlist"><button class="button">View Wishlist</button></form>
    </div>
    <div>
        <form action="/user/userHistory"><button class="button">View History</button></form>
    </div>
</div>