<div class="page-heading">
    <h1>Recently viewed items</h1>
</div>
<!-- This requires css-->
<div>
    <span>
        <img src="/images/cpu.png" width="100px">
    </span>
    <span>Product Name</span>
    <span>Item Price: $25.00</span>
    <span><button class="button" onclick="window.location.href = '/user/cpuItem';">view</button></span>
    <span><button class="button"> wishlist &plus;</button></span>
    <span><button class="button"> remove &times;</button></span>
    <hr>
</div>
<div>
    <span>
        <img src="/images/gpu.png" width="100px">
    </span>
    <span>Product Name</span>
    <span>Item Price: $25.00</span>
    <span><button class="button" onclick="window.location.href = '/user/gpuItem';">view</button></span>
    <span><button class="button"> wishlist &plus;</button></span>
    <span><button class="button"> remove &times;</button></span>
    <hr>
</div>
<div>
    <span>
        <img src="/images/ram.png" width="100px">
    </span>
    <span>Product Name</span>
    <span>Item Price: $25.00</span>
    <span><button class="button" onclick="window.location.href = '/user/ramItem';">view</button></span>
    <span><button class="button"> wishlist &plus;</button></span>
    <span><button class="button"> remove &times;</button></span>
    <hr>
</div>
<div>
    <span>
        <img src="/images/motherboard.png" width="100px">
    </span>
    <span>Product Name</span>
    <span>Item Price: $25.00</span>
    <span><button class="button" onclick="window.location.href = '/user/motherboardItem';">view</button></span>
    <span><button class="button"> wishlist &plus;</button></span>
    <span><button class="button"> remove &times;</button></span>
    <hr>
</div>
<div>
    <span>
        <img src="/images/powersupply.png" width="100px">
    </span>
    <span>Product Name</span>
    <span>Item Price: $25.00</span>
    <span><button class="button" onclick="window.location.href = '/user/powerSupplyItem';">view</button></span>
    <span><button class="button"> wishlist &plus;</button></span>
    <span><button class="button"> remove &times;</button></span>
    <hr>
</div>