<div class="homeWelcome">
    <h1>Logged in as {{email}}</h1>
</div>
<div class="homeWelcome">
    <h1>Welcome to your home page</h2>
</div>
<div class="flex-container">

    
    <div>
        <h2>Your Wishlist</h2>
        <br>
        <form action="/user/wishlist"><button class="button">View Wishlist</button></form>
    </div>
    <div>
        <h2>Your recently viewed items</h2>
        <br>
        <form action="/user/userHistory"><button class="button">View Histor</button></form>
    </div>
</div>