@import url("https://fonts.googleapis.com/css?family=Inter:400");

:root {
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);

    --font-size-m: 36px;
    --font-size-1: 40px;

    --font-family-inter: "Inter";
}

.inter-normal-white-36px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.desktop {
    align-items: flex-end;
    background-color: #D8D6D6;
    border: 1px none;
    display: flex;
    flex-direction: column;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.flex-row {
    align-items: flex-start;
    align-self: center;
    display: flex;
    height: 466px;
    margin-left: 39px;
    margin-top: 97px;
    min-width: 1143px;
}

.flex-col-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 19px;
    min-height: 335px;
    width: 344px;
}

.rectangle-1 {
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    height: 72px;
    margin-top: 59px;
    width: 344px;
}

.rectangle {
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    height: 72px;
    width: 344px; 
}

.rectangle-2 {
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    height: 72px;
    margin-top: 60px;
    width: 344px; 
}

.flex-col-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 72px;
    margin-top: 13px;
    min-height: 307px;
    width: 228px;
}

.re-password {
    letter-spacing: 0;
    margin-top: 88px;
    min-height: 44px;
}

.password {
    letter-spacing: 0;
    margin-top: 87px;
    min-height: 44px;
}

.card-number {
    letter-spacing: 0;
    min-height: 44px;
}

.flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    min-height: 466px;
    width: 344px;
}

.flex-col {
    align-items: flex-start;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    min-height: 438px;
    width: 114px;
}

.mobile {
    letter-spacing: 0;
    margin-top: 87px;
    min-height: 44px;
}

.dob {
    letter-spacing: 0;
    margin-top: 87px;
    min-height: 44px;   
}

.email {
    letter-spacing: 0;
    margin-top: 88px;
    min-height: 44px;   
}

.place {
    letter-spacing: 0;
    min-height: 44px;
}

.overlap-group {
    height: 107px;
    margin-top: 50px;
    position: relative;
    width: 432px;
}

.title {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-1);
    font-weight: 400;
    height: 106px;
    left: 1px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 431px;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
}

.rectangle-9 {
    background-color: var(--black);
    border: 1px none;
    height: 105px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 430px;
}