
html,body{
    margin:0;
}
*{
    background-color: gray;
    padding: 0px;
}
header {
    padding: 20px 20px;
    position: sticky;
    top: 0;
    
    height: 90px;
    background-color: black;
    
    flex-direction: row;
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: arial;
}
.test {
    background-color:#D8D6D6;
}
